@charset "UTF-8";

body {
    background-color: linear-gradient(to bottom,#512d38, #b27092, #f4bfdb );
    background-attachment: fixed;
    text-align: center;
}

picture { 
    
    border-radius: 20px;

}

.test {
    display: inline-block;
    width: 50%;
    padding: 1%;
    border: 2px solid purple;
}

.quadrado{
    position: sticky;
    align-items: center;
    display: inline-block;
    margin: 5% 2% 0 0;
    width: 300px;
    height: 300px;
    background-color: lightslategray;
    border: 2px solid black;
    border-radius: 20px;
}

div#qua1 {
    background-image: url(https://i.pinimg.com/474x/37/91/aa/3791aa75f0199f01e1e86676ffdb0103.jpg);
    
}

div#qua2{
    background-image: url(https://i.pinimg.com/474x/86/98/16/869816fc0310f99bdfc7cd6d911f29b3.jpg);
}

div#qua3 {
    background-image: url(https://i.pinimg.com/474x/e5/9d/ce/e59dced2a246fe26347e278201c64722.jpg);
    
}

div>p {
    color: rgb(22, 55, 161);
    margin: 45% 0 45% 0 ;
}

div>aside{
    
    color: rgb(22, 55, 161);
    margin: 45% 0 45% 0 ;
    font-size: 30px;
}